/*@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic,600,600italic|Open+Sans);*/

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%
}

#text {
  position: absolute;
  width: 70%;
  top: 7%;
  font-size: 6vmin;
  line-height: 9vmin;
  color: #ffffff;
  left: 15%;
  text-align: center;
  font-family: 'Josefin Slab' , serif;
  -webkit-animation-duration: 1s;


}

#textTwitter {
  position: absolute;
  width: 70%;
  top: 7%;
  font-size: 6vmin;
  line-height: 9vmin;
  color: #ffffff;
  left: 15%;
  text-align: center;
  font-family: 'Josefin Slab' , serif;
  -webkit-animation-duration: 1s;


}

#text2 {
  position: absolute;
  width: 90%;
  top: 25%;
  font-size: 20vmin;
  color: #ffffff;
  left: 5%;
  text-align: center;
  font-family: 'Josefin Slab' , serif;

  -webkit-animation-duration: 1s;


}

#text3 {
  position: absolute;
  width: 90%;
  top: 50%;
  font-size: 8vmin;
  color: #ffffff;
  left: 5%;
  text-align: center;
  font-family: 'Josefin Slab' , serif;
  -webkit-animation-duration: 1s;


}

#text4 {
  position: absolute;
  width: 60%;
  top: 65%;
  font-size: 8vmin;
  color: #ffffff;
  left: 30%;
  text-align: center;
  font-family: 'Josefin Slab' , serif;
  -webkit-animation-duration: 1s;


}

#intro {
  position: absolute;
  top: 30%; font-size: 15vmin;
  line-height: 18vmin;
  font-family: 'Josefin Slab', serif;
  color: #ffffff;
  left: 10%;
  -webkit-animation-duration: 0.8s;
  /*-webkit-animation-delay: 0.3s;
  -webkit-animation-iteration: infinite;*/
}

#start {
  position: absolute;
  bottom: 15%;
  width: 100%;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;

}

#start p {
  position: relative;
  left: 47%;
  width: 6%;
  font-size: 5vmin;
  line-height: 8vmin;
  font-family: 'Josefin Slab', serif;
  color: #ffffff;
  text-align: center;
  -webkit-transition-timing-function: ease-in-out; /* Chrome, Safari, Opera */
  transition-timing-function: ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

#panel {  position: absolute;
          height: 100%;
          width: 18%;
          left: 41%;
          z-index: 500;
          display: table;
          background-color: rgba( 14, 14 , 41, 0.0);
          color: #ffffff;
          font-family: 'Open Sans',sans-serif;
          font-size: 2vmin;
          align-items: center;
          text-align: center;
          -webkit-animation-duration: 0.6s;
           word-wrap: break-word;
        }

#middle {
          display: table-cell;
          vertical-align: middle;
        }

#tweet {

        display: flex;
         border-radius: 50%;
         text-align: center;


       }

h1 {
  text-align: center;
  /*display: flex; */
  font-size: 4vmin;
  font-family: 'Josefin Slab', serif;
  -webkit-animation-duration: 0.3s;
}

#skipArea {

    position: absolute;
    z-index: 999;

    width:30%;
    height: 30%;
    left: 70%;
    top: 70%;
    color: #ffffff;
    font-family: 'Josefin Slab', serif;
    font-size: 4vmin;


}

#skip {
  top: 50%;
  height: 15%;
  position: relative;
  width: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-animation-duration: 0.5s;
}

#instructions {

  display: none;
  font-family: 'Open Sans', sans-serif;
  font-weight : 100;
  letter-spacing: 1vmin;
  font-size: 2vmin;
  position: absolute;
  width: 70%;
  top: 16%;
  color: #ffffff;
  left: 15%;
  text-align: center;

}

.at4-share-outer-right {

   display: none;

}



#about {
  display: none;
  background-color: #110826;
  position: absolute;
  z-index: 1001;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;

}

#titleText {

  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
  font-size: 13vmin;
  line-height: 16vmin;
  font-family: 'Josefin Slab', serif;

}

#information {
 position: absolute;
  font-size: 5vmin;
  width: 60%;
  left: 20%;
  top: 45%;

}

#copy {
 position: absolute;
  font-size: 3vmin;
  top: 80%;
  width: 70%;
  left: 15%;
}

#close {

  position: absolute;
  right: 2%;
  top: 4%;
  height: 6%;

  z-index: 1002;
  cursor: pointer;
}

#aboutImg {

  position: absolute;
  right: 2%;
  top: 4%;
  height: 6%;
  z-index: 1000;
  display: none;
  cursor: pointer;

}

  @media all and (orientation:portrait) {
      /* Styles for Portrait screen */

      #text, #textTwitter {

        width: 86%;
        left: 7%;
        top: 10%;
        line-height : 8vmin;
      }
#instructions {

     top: 12%;

}
  #panel {
    font-size: 3vmin;
    width: 36%;
    left: 32%;
  }

  h1 {

    font-size: 5vmin;
  }

  #skip {

    width: 100%;
    left: 0;
  }

  #titleText {

    top: 15%;
    line-height: 16vmin;
    font-size: 13vmin;
  }

  #information {

    font-size: 5vmin;
    width: 80%;
    left: 10%;
    top: 55%;

  }

  #copy {

    font-size: 4vmin;
    top: 85%;
    width: 70%;
    left: 15%;
  }

  #close {


    right: 4%;
    top: 2%;

  }

  #aboutImg {


    right: 4%;
    top: 2%;


  }


}
